html {
  font-size: 18px;
}

body {
  font-family: Helvetica;
  color: white;
  width: 960px;
  margin: 0 auto;
  overflow: visible;
}

.header {
  background-color: black;
  width: auto;
  top: 0px;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header img {
  height: 1.5rem;
}

.header h5 {
  padding: 0.5rem 0.66rem;
}

.banner {
  background-image: url("../images/moto.jpeg");
  height: 25rem;
  width: 100%;
  overflow: hidden;
}

.banner-title {
  font-weight: bold;
  background-color: black;
  width: 20rem;
  margin-top: 9rem;
  padding: 2rem 3rem;
  align-content: space-between;
}

/* fix the 0.25rem between lines*/

.banner-title h1 {
  font-size: 2rem;
  padding-top: 0.25rem;
  flex-wrap: wrap;
}
