html {
  font-size: 18px;
}

body {
  font-family: Helvetica;
  color: white;
  margin: 0 auto;
}

.header {
  background-color: black;
  width: 100%;
  top: 0px;

}

.banner {
  background-image: url("../images/moto.jpeg");
}

.banner-title {
  font-weight: bold;
}
