html {
  font-size: 18px;
  line-height: 1.4;
}

body {
  font-family: Helvetica;
  background-color: azure;
  width: 960px;
  margin: 1rem auto;
}

.header {
  background-color: cadetblue;
  padding: 1rem 2rem;
  width: 100%;
  display: inline-flex;
  align-items: center;
}

.header img {
  height: 1.5rem;
  width: auto;
}

.header h2 {
  color: white;
  font-size: 1rem;
  padding-left: 1rem;
}

.nav-desktop {
  display: flex;
  margin-right: 0;
  margin-left: auto;
}

.nav-desktop li {
  color: white;
  display: inline-flex;
  justify-content: space-between;
  padding: 0 1rem;
}

.nav-mobile {
  display: none;
}
